@model RentACarWebsite.Models.UserInfo
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <h2>Login</h2>
        <hr />
        <form asp-action="LoginUser" asp-controller="Home">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label">Username:</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Password:</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary mt-3" />

            </div>
            <a class="btn btn-secondary mt-1" asp-area="" asp-controller="Home" asp-action="Register">Register</a>

            <label>@Html.Raw(ViewBag.Message)</label>
        </form>

    </div>
 
   
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
@* <h2>Login</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LoginUser" asp-controller="Home">
            <div asp-asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label">Username:</label>
                <input asp-for="Username"class="form-control"/>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div asp-asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Password:</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary"/>
            </div>
            <label>@Html.Raw(ViewBag.Message)</label>
        </form>
    </div>
</div> *@
  

