
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome to the Rent a Car website.</h1>
<h2>Made by Kristiyan Kraev - 2201321062.</h2>
<h3>
    <a href="https://www.instagram.com/koko_kraev/">Instagram</a>
</h3>
<h3>
    <a href="https://github.com/PootisPowah">Github</a>
</h3>
<h5>Enjoy</h5>

